@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    height: 60%;
    width: 60%;
    margin: 100px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    color: #333333;
  }

  #prototype-link {
    display: none;
  }
  
  #greeting {
    display: none;
    color: #333333;
    margin-top: 20px;
  }
  
  input[type="text"], input[type="submit"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    font: inherit;
  }
  
  input[type="submit"] {
    background-color: #333333;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555555;
  }

  form{
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  